body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

p{
  font-size: 20;
  line-height: 2;
}

hr{
  border: dotted;
  border-bottom: none;
  width: 4%;
  margin: 100;
}

h1{
  color: #008B8B; /* text color */
  line-height: 1; /* to provide gap between h1 and paragraph tag. */
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 3.75rem; /*  (90px/16)*100=562.5% or 5.625em, where 1em means width of em one time (or16px) or 5.625rem */
}

h2{
  color: #008B8B;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;

}

h3{
  color: #008B8B;
  font-family: 'Montserrat', sans-serif;
}

.top-container{
  background-color: #E0FFFF;
  position: relative;
  padding: 100px;
}

.middle-container{
  margin: 100px;
}

.bottom-container{
  background-color: #E0FFFF;
  color: #008B8B;
  padding: 50px 0 20px;
}

.intro{
  width: 30%;
  margin: auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.computer{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.python{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999b);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999b);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999b);
  background-image: -o-linear-gradient(top, #11cdd4, #11999b);
  background-image: linear-gradient(to bottom, #11cdd4, #11999b);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #008B8B;
}

.copyright{
  color: #008B8B;
  font-size: 0.75rem;
  padding: 20px 0;
}

.Dev{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.pic{
  border-radius: 100%;
  height: 200px;
}

.python{
  border-radius: 100%;
  height: 200px;
}

.computer{
  border-radius: 100%;
  height: 100px;
}
/*      #008B8B      */
